<div class="container">

  <div class="work_form mt-4">
    <h4>作品編集</h4>
    <% if @work.errors.any? %>
        <%= @work.errors.count %>件のエラーが発生しました
        <ul>
        <% @work.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
    <% end %>

     <%= form_with model: @work, url: admins_work_path(@work.id), method: :patch do |f| %>
      <h6>作品名(Name)</h6>
       <%= f.text_field :name, :size=>"50" %>
      <h6>ストーリー(Story)</h6>
       <%= f.text_area :story, :size=>"100x10" %>
       <h6>公式サイト</h6>
       <%= f.text_field :website, :size=>"50" %><br/>
       <div class="check_box">
        <span>タグ</span>
         <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
         <div>
           <%= tag.label do %>
           <%= tag.check_box %>
           <%= tag.text %>
          <% end %>
          </div>
         <% end %>
       </div>
      <%= f.submit '更新する' %>

    <% end %>
  </div>
 </div>