<div class="search_form">
    <%= form_with url: search_admins_works_path, local: true, method: :get do |f| %>
      <%= f.text_field :keyword, value: @keyword, placeholder: "タイトル名で検索" %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
</div>

<%= form_tag admins_works_path, method: :get, class: 'boards__searchForm' do %>
  <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
  { prompt: 'ジャンルで絞り込み', onchange: 'submit(this.form);' } %>
<% end %>

<% @works.each do |work| %>
  <%= image_tag work.get_image, size: "200x200" %>
  <%= link_to work.name, admins_work_path(work.id) %>
  <% work.tags.each do |tag| %>
  <%= tag.name %>
  <% end %>
  <%= link_to "#{work.post_comments.count} 件のコメント", admins_work_path(work.id) %>
<% end %>
