<div class="container">

  <div class="edit mt-3">
    <h4>プロフィール編集</h4>
      <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
      <% end %>

      <%= form_with model: @user, url: user_path, method: :patch do |f| %>
        <label for="inputName">ユーザー名(Name)</label>
        <p><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"ユーザーネーム"%></p>
        <label for="inputImage">プロフィール画像(</label>
        <p><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></p>
        <p><%= f.submit "変更を保存" %></p>
      <% end %>
  </div>

</div>